venv
Web Scraping the SEC, Part 1, Getting data from a single company.ipynb
Web Scraping the SEC, Part 2, Scraping the daily index.ipynb
Web Scraping the SEC, Part 3, Parsing individual company reports.ipynb
testing_main_file.ipynd.ipynb
Filing Names
Data Directory